body {
  font-family: 'Times New Roman', Times, serif;
  margin: 20px;
  padding: 20px;
}

header {
  text-align: center;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}
